<?xml version="1.0" encoding="utf-8"?>
<!-- Configuración de IIS para Azure App Service (Windows): sitio estático -->
<configuration>
  <system.webServer>
    <defaultDocument enabled="true">
      <files>
        <clear />
        <add value="index.html" />
      </files>
    </defaultDocument>
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="0.00:10:00" />
    </staticContent>
    <httpCompression>
      <dynamicTypes><add mimeType="text/javascript" enabled="true" /></dynamicTypes>
    </httpCompression>
  </system.webServer>
</configuration>
